[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
bottle = "*"
peewee = "*"
environconfig = "*"
ipython = "*"
httpie = "*"

[dev-packages]

[requires]
python_version = "3.6"
