[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
bottle = "*"
peewee = "*"
environconfig = "*"
ipython = "*"
httpie = "*"
redis = "*"
requests = "*"
python-language-server = {version = "*", extras = ["all"]}
buildbot = "*"
buildbot-washer = "==1.1.0"
docker = "*"
buildbot-www = "*"
pyyaml = "*"
txrequests = "*"
"psycopg2-binary" = "*"
safety = "*"
celery = "*"

[dev-packages]
ipdb = "*"
pytest = "*"
pycodestyle = "*"

[requires]
python_version = "3.6"
