[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
bottle = "*"
peewee = "*"
environconfig = "*"
redis = "*"
requests = "*"
safety = "*"
celery = "*"
"psycopg2-binary" = "*"

[dev-packages]

[requires]
python_version = "3.6"
