[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
environconfig = "*"
requests = "*"
python-language-server = {version = "*",extras = ["all"]}
buildbot = "==1.8.2"
buildbot-washer = "==1.2.0"
docker = "*"
buildbot-www = "*"
pyyaml = "==3.13"
txrequests = "*"
"psycopg2-binary" = "*"
buildbot-worker = "*"

[dev-packages]

[requires]
python_version = "3.6"
