<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Deeptracy</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
</head>
<body>
    <div class="container">
      <div class="jumbotron">
        <div class="text-center">
             <img src="https://raw.githubusercontent.com/BBVA/deeptracy/develop/docs/_static/deeptracy-logo-small.png" alt="">
        </div>
        <h1 class="display-3 text-center"> No hay vulnerabilidades</h1>
        <h2 class="text-center">en tu proyecto {{project_name}}</h2>
        <div class="text-center">
             <img style="max-width:30%" src="https://www.eab.com/assets/eab-blog-landing/success-icon.svg" alt="">
        </div>

      </div>
    </div>
</body>

